@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    /* margin: 0; */
    /* padding: 0; */
}

body {
    margin: 0;

}

.nav {
    height: 110px;
    width: 100%;
    background-color:white;
    display: flex;
    position: fixed;
    z-index: 10;
    /* position: fixed; */
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /* position: fixed; */
    /* position: absolute; */
}

.sbar {
    height: 45px;
    width: 400px;
    background-color: whitesmoke;
    border-radius: 25px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    /* margin-right: 50px;     */
}

.nav .sbar .a p {
    font-size: 16px;
    /* margin-right: 50px; */

}

.nav .sbar .b p {
    font-size: 16px;
    /* margin-right: 30px; */

}

.nav .sbar .c p {
    font-size: 16px;
    /* margin-left: 50px; */

}

.nav .sbar .sbarimg img {
    height: 50px;
    width: 50px;
}

/* .nav .sbar .sbarimg img2 {
    height: 50px;
    width: 50px;
    display: none;
} */

.nav .sbar .sbarsearch img {
    height: 20px;
    width: 20px;
    background-color: #ff385c;
    border-radius: 90px;
    padding: 8%;
    margin-top: 8px;
    margin-right: 30px;

}

.nav .logo img {
    height: 40px;
    width: 100px;
    margin-left: 20px;
}

.nav .home {
    height: 50px;
    width: 250px;
    /* background-color: yellowgreen; */
    align-content: center;
    margin-right: 20px;
    display: flex;
}

.home button img {
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
    border-radius: 90px;
    padding: 20%;


}

.nav .home p {
    border-radius: 90px;
    font-size: 16px;
    background-color: transparent;

}

.nav .home button {
    border: 0;
    border-radius: 90px;
    background-color: transparent;

}

.nav .sep img {
    height: 30px;
    width: 30px;
    display: none;
    padding-right: 270px;
}

.nav .sbar .s770 p {
    /* margin-left: 120px; */

    /* margin: 10px; */
    display: none;
}


/* banner 1 */


.banner1 {
    height: 250px;
    width: 100vw;
    /* background-color: violet; */
    position: absolute;
    top: 110px;
    display: block;
    margin-left: -30px;


}

.banner1 .text h4 {
    height: 30px;
    width: 500px;
    /* background-color: hsl(349, 100%, 61%); */
    margin-left: 50px;
    /* margin: 0; */
    box-sizing: border-box;



}

.banner1 .scroll1 {
    height: 220px;
    width: 1150px;
    /* background-color: wheat; */
    margin-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    scrollbar-width: none;

    /* position: relative; */

}


.banner1 .scroll1 .div1 {
    height: 220px;
    width: 200px;
    flex-shrink: 0;
    position: relative;
    /* background-color: aliceblue; */
    /* position: absolute; */

}

.scroll1 .div1 img {
    height: 150px;
    width: 170px;
    border-radius: 15px;
    margin-left: 15px;
}

.scroll1 .div1 p {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 18px;
    margin-bottom: 0px;
}

.scroll1 .div1 h4 {
    font-size: 12px;
    margin-left: 20px;

    margin-top: 0;
    /* position: absolute; */
    text-decoration: none;
    color: #b7b7b8;
}

.scroll1 .div1 button {
    position: absolute;
    border: 0;
    border-radius: 40px;
    padding: 5px;
    opacity: 90%;
    top: 10px;
    left: 30px;
    font-size: 10px;
    z-index: 5;
}




/* banner2 */


.banner2 {
    height: 250px;
    width: 100vw;
    /* background-color: violet; */
    position: absolute;
    top: 400px;
    display: block;
    margin-left: -30px;

}

.banner2 .text2 h4 {
    height: 30px;
    width: 500px;
    /* background-color: hsl(349, 100%, 61%); */
    margin-left: 50px;
    /* margin: 0; */
    box-sizing: border-box;


}

.banner2 .scroll2 {
    height: 220px;
    width: 1150px;
    /* background-color: wheat; */
    margin-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    scrollbar-width: none;

    /* position: relative; */

}


.banner2 .scroll2 .div1 {
    height: 220px;
    width: 200px;
    flex-shrink: 0;
    position: relative;
    /* background-color: aliceblue; */
    /* position: absolute; */

}

.scroll2 .div1 img {
    height: 150px;
    width: 170px;
    border-radius: 15px;
    margin-left: 15px;
}

.scroll2 .div1 p {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 18px;
    margin-bottom: 0px;
}

.scroll2 .div1 h4 {
    font-size: 12px;
    margin-left: 20px;

    margin-top: 0;
    /* position: absolute; */
    text-decoration: none;
    color: #b7b7b8;
}

.scroll2 .div1 button {
    position: absolute;
    border: 0;
    border-radius: 40px;
    padding: 5px;
    opacity: 90%;
    top: 10px;
    left: 30px;
    font-size: 10px;
    z-index: 5;
}




/* banner3 */


.banner3 {
    height: 250px;
    width: 100vw;
    /* background-color: violet; */
    position: absolute;
    top: 700px;
    display: block;
    margin-left: -30px;

}

.banner3 .text3 h4 {
    height: 30px;
    width: 500px;
    /* background-color: hsl(349, 100%, 61%); */
    margin-left: 50px;
    /* margin: 0; */
    box-sizing: border-box;


}

.banner3 .scroll3 {
    height: 220px;
    width: 1150px;
    /* background-color: wheat; */
    margin-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    scrollbar-width: none;

    /* position: relative; */

}


.banner3 .scroll3 .div1 {
    height: 220px;
    width: 200px;
    flex-shrink: 0;
    position: relative;
    /* background-color: aliceblue; */
    /* position: absolute; */

}

.scroll3 .div1 img {
    height: 150px;
    width: 170px;
    border-radius: 15px;
    margin-left: 15px;
}

.scroll3 .div1 p {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 18px;
    margin-bottom: 0px;
}

.scroll3 .div1 h4 {
    font-size: 12px;
    margin-left: 20px;

    margin-top: 0;
    /* position: absolute; */
    text-decoration: none;
    color: #b7b7b8;
}

.scroll3 .div1 button {
    position: absolute;
    border: 0;
    border-radius: 40px;
    padding: 5px;
    opacity: 90%;
    top: 10px;
    left: 30px;
    font-size: 10px;
    z-index: 5;
}



/* banner4 */


.banner4 {
    height: 250px;
    width: 100vw;
    /* background-color: violet; */
    position: absolute;
    top: 1000px;
    display: block;
    margin-left: -30px;

}

.banner4 .text4 h4 {
    height: 30px;
    width: 500px;
    /* background-color: hsl(349, 100%, 61%); */
    margin-left: 50px;
    /* margin: 0; */
    box-sizing: border-box;


}

.banner4 .scroll4 {
    height: 220px;
    width: 1150px;
    /* background-color: wheat; */
    margin-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    /* position: relative; */
    scrollbar-width: none;

}


.banner4 .scroll4 .div1 {
    height: 220px;
    width: 200px;
    flex-shrink: 0;
    position: relative;
    /* background-color: aliceblue; */
    /* position: absolute; */

}

.scroll4 .div1 img {
    height: 150px;
    width: 170px;
    border-radius: 15px;
    margin-left: 15px;
}

.scroll4 .div1 p {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 18px;
    margin-bottom: 0px;
}

.scroll4 .div1 h4 {
    font-size: 12px;
    margin-left: 20px;

    margin-top: 0;
    /* position: absolute; */
    text-decoration: none;
    color: #b7b7b8;
}

.scroll4 .div1 button {
    position: absolute;
    border: 0;
    border-radius: 40px;
    padding: 5px;
    opacity: 90%;
    top: 10px;
    left: 30px;
    font-size: 10px;
    z-index: 5;
}

/* end */

.end {
    height: 500px;
    width: 100%;
    /* left: 10px; */
    box-sizing: border-box;
    /* background-color: yellowgreen; */
    position: absolute;
    top: 1310px;
    padding: 50px;
}

.end h4 {
    /* margin-left: 110px; */
    margin-top: 50px;
}

.end hr {
    margin-top: 10px;
    width: 80%;
}

.end .di {
    /* margin-left: 40px; */
    height: 400px;
    width: 90%;
    /* background-color: #ff385c; */
    display: flex;
    justify-content: space-between;
}

.end .di .d1 {
    text-align: left;
    align-content: center;
    height: 400px;
    width: 300px;
    /* background-color: yellow; */
    font-size: 13px;

}

.end .di .d1 p {
    margin-top: 0px;

}

.end .di .d2 {
    text-align: left;
    align-content: center;
    height: 400px;
    width: 300px;
    /* background-color: #b7b7b8; */
    font-size: 13px;

}

.end .di .d3 {
    margin-top: 0px;
    margin-bottom: 0;
    text-align: left;
    align-content: center;
    height: 400px;
    width: 300px;
    /* background-color: aqua ; */
    font-size: 13px;

}


.nav .s2nav img {
    height: 60px;
    width: 70px;
    display: none;
}







@media screen and (max-width:1128px) {
    .nav .home p {
        display: none;
    }

    .nav {
        height: 110px;
        width: 100%;
        background-color: white;
        display: flex;
        position: fixed;
        z-index: 10;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        /* position: fixed; */
        /* position: absolute; */
    }
}

@media screen and (max-width:970px) {

    .nav .logo img {
        display: none;
    }

    .nav .sep img {
        display: inline;
    }




    .banner1 .scroll1 {
        height: 280px;
        width: 1150px;
        /* background-color: wheat; */
        margin-left: 50px;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        overflow-x: scroll;
        overflow-y: hidden;
        box-sizing: border-box;
        scrollbar-width: none;

        /* position: relative; */

    }

    .end .di {
        display: block;
    }




    .banner1 .scroll1 .div1 {
        height: 600px;
        width: 300px;
        flex-shrink: 0;
        position: relative;
        /* background-color: aliceblue; */
        /* position: absolute; */

    }

    .scroll1 .div1 img {
        height: 200px;
        width: 220px;
        border-radius: 15px;
        margin-left: 15px;
    }



    .banner2 {
        height: 250px;
        width: 100vw;
        /* background-color: violet; */
        position: absolute;
        top: 450px;
        display: block;
        margin-left: -30px;

    }

    .banner2 .scroll2 .div1 {
        height: 6000px;
        width: 300px;
        flex-shrink: 0;
        position: relative;
        /* background-color: aliceblue; */
        /* position: absolute; */

    }
    .banner2 .scroll2 {
    height: 270px;
    width: 1150px;
    /* background-color: wheat; */
    margin-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    scrollbar-width: none;

    /* position: relative; */

}

    .scroll2 .div1 img {
        height: 200px;
        width: 220px;
        border-radius: 15px;
        margin-left: 15px;
    }

    .banner3 {
    height: 250px;
    width: 100vw;
    /* background-color: violet; */
    position: absolute;
    top: 790px;
    display: block;
    margin-left: -30px;

}


.banner3 .scroll3 {
    height: 270px;
    width: 1150px;
    /* background-color: wheat; */
    margin-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    scrollbar-width: none;

    /* position: relative; */

}


.banner3 .scroll3 .div1 {
    height: 6000px;
        width: 300px;
    flex-shrink: 0;
    position: relative;
    /* background-color: aliceblue; */
    /* position: absolute; */

}

.scroll3 .div1 img {
    height: 200px;
        width: 220px;
    border-radius: 15px;
    margin-left: 15px;
}
.banner4 {
    height: 250px;
    width: 100vw;
    /* background-color: violet; */
    position: absolute;
    top: 1130px;
    display: block;
    margin-left: -30px;

}

.banner4 .scroll4 {
    height: 270px;
    width: 1150px;
    /* background-color: wheat; */
    margin-left: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    /* position: relative; */
    scrollbar-width: none;

}


.banner4 .scroll4 .div1 {
     height: 6000px;
    width: 300px;
    flex-shrink: 0;
    position: relative;
    /* background-color: aliceblue; */
    /* position: absolute; */

}

.scroll4 .div1 img {
    height: 200px;
    width: 220px;
    border-radius: 15px;
    margin-left: 15px;
}
.end{
    top: 1410px;

}

}







@media screen and (max-width:740px) {
    

    
    .nav .sep img {
        display: none;
    }

    .nav .sbar .a p {
        display: none;
    }

    .nav .sbar .b p {
        display: none;
    }

    .nav .sbar .c p {
        display: none;
    }

    .nav .home {
        display: none;
    }

    .nav .sbar .sbarsearch img {
        display: none;
    }

    .nav .sbar .sbarimg img {
        display: none;
    }

    .nav .sbar .s770 p {
        display: inline;
    }

    .sbar {
        height: 45px;
        width: 500px;
        background-color: whitesmoke;
        border-radius: 25px;
        justify-content: center;
        margin-left: 300px;
        padding-top: 20px;
    }

    .nav {
        height: 110px;
        width: 100%;
        /* background-color: aqua; */
        display: block;
        position: fixed;
        align-content: center;
        justify-content: space-between;
        box-sizing: border-box;
        /* position: fixed; */
        /* position: absolute; */
    }

    /* .nav.s2nav{
    display: inline;
    
} */
    .nav .s2nav {
        width: 600px;
        padding-left: 350px;
        display: flex;
        align-content: center;
        gap: 100px;
        /* justify-content:space-between ; */
    }

    .nav .s2nav img {
        display: inline;
        /* height: 50px;
width: 50px; */
        /* margin-left: 200px; */
    }
}